body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: rgb(242, 242, 242); 
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30+px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    text-align: center;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

select {
    width: 96%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

#clock {
    font-size: 1rem;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
}

button {
    background-color: #d30d24;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 35px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo-container img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}